@import "editor.css";



html, body {
    height: 100%;
}

body {

    font-size : 81.3%; /*10px*/
    overflow-y: auto;
    background: url("../../bitmaps/tplbakgrunn.jpg") repeat scroll 0 0 transparent;

}
#Content{
    width : 100%;
    font-size: 1.1em;
    margin-left: 0;

}
a{
    outline:none;
}

h1{
    font-weight: normal;
    font-size: 1.8em;

}
h1,h2,h3,h4,h5,h6{
    color: #A9A9A9;
    border-bottom: 1px solid #dfdfdf;
}

.field{
    clear: left;
    overflow: auto;
    padding-bottom:5px;
}
div .label, div .input{
    float: left;
}
.maincontent{
    background: #fff;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    min-height:400px;
}
#print-icon{
    display:none;
}

.clearboth{
    clear: both;
}
#Errors{
    border: 1px solid red;
    color: red;
    padding: 10px;
    margin: 20px 0 0;
    display: block;
}

.plus{
    background: url('../../bitmaps/plus.png') no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    cursor:pointer;
}
.minus{
    background: url('../../bitmaps/minus.png') no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    cursor:pointer;
}
.button{
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("../../bitmaps/bg-black-btn-r.gif") repeat-x scroll left center #CCCCCC;
    border: 1px solid #ABABAB;
    color: #FFFFFF !important;
    display: inline-block;
    font: bold 11px verdana,arial,sans-serif;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}

.close{
    background: url("../../bitmaps/close.png") no-repeat left center;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top:-5px;
    left: 220px;

}

/** Login**/
#Loginform label{
    width: 100px;
    display: inline-block;
}

#Login .skjemafeil{
    color: #ff0000;
}

.login .container{
    width:330px;
    margin-left:200px;
}
.login .maincontent{
    min-height: 300px;
}
/** Main menu**/

#MainMenu {
    margin-bottom: 32px;
    overflow: hidden;
    background: url("../../bitmaps/mainmenu/MainMenu_bg.png") repeat-x;
    min-width: 980px;
    height: 38px;
}

#MainMenu ul {
    margin: 0 0 0 25px;
}
#MainMenu .mainnavigation{
    float: left;
}
#MainMenu ul li {
    list-style: none;
    float: left;
}

#MainMenu ul li {

}

#MainMenu ul li:first-child {
    background: none;
}


#MainMenu .menyelement {
    display: block;
    height: 38px;
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 38px;
    font-size: 	1.154em; /* 15px */
    margin-left: 15px;
    margin-right: 15px;
}

#MainMenu .mypage{
    vertical-align: middle;
    background: url("../../bitmaps/mainmenu/soccerball.png") left center no-repeat;
}

/** Side menu **/
#Sidebar ul{
    margin-left: -10px;
    background: #000;
}
.sidemenu li:first-child{
    border-top: 1px solid #555;
}
.sidemenu li{
    list-style: none;
    border-top: none;
    border: 1px solid #555;
    padding: 10px;
}


.sidemenu a, .sidemenu a:visited{
    text-decoration: none;
    color: #fff;
}

.sidemenu li[selected=selected], .sidemenu .open{
    background: #555;

}

/***********
Publisering
************/
.leadParagraph{
    font-size:1.1em;
}

/** Main container**/
.container{
    width: 930px;
    margin: 30px;
}
.admin .container{
    width: 1070px;
}

.maincontent #Sidebar{
    float:left;
    width: 200px;
    border-right: #555;

}
.maincontent #Content{
    float:left;
    width: 650px;
    margin: 10px 0 0 0;

}

.admin .maincontent #Content{

    width: 750px;


}

#Content .wait{
    margin: 150px 0 0 200px;
}
#PlayerSelectorList .wait{
    margin: 130px;
}

#PlayerSelectorList .previewPlayerStats{
    background: url("../../bitmaps/question_mark.png") no-repeat center center;
    display: inline-block;
    text-decoration: none;
    width: 20px;
}
#MatchContent{
    margin-top: 50px;
}
#MatchContent #FixtureList{
    float:left

}
#MatchContent #RoundSelect{
    float: right;
}

/** Page menu**/
.pageMenuWrapper #SeasonFilter{
    float:right;
}

.pageMenu{
    display: none;
    margin: 8px 0px 0px -14px;
}
.pageMenuWrapper ul{

}
.pageMenu li{
    list-style: none;
    float:left;
    margin-top: -14px;
    width: 120px;

}
.pageMenu .selected{
    background: #555;

}
.pageMenu a, .pageMenu a:visited{
    background: #062B44;
    -moz-border-radius:15px 15px 0px 0px;

    display: block;
    height: 38px;
    text-decoration: none;
    line-height: 38px;
    color: #FFF;
    text-align: center;
}

/**Playerstats**/
#PlayerStats{
    float: left;
    width: 275px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    padding: 2px;
    margin-top:10px;

}
#PlayerStats .topp{
    background: url("../../bitmaps/footballcard/blackbackground.png") repeat scroll 0 0 transparent;
    color: white;
    margin:2px 2px 0 2px;
    padding:4px;
    border-radius: 15px 15px 0px 0px;

}
#PlayerStats .bottom{
    background: url("../../bitmaps/footballcard/greenbackground.png") repeat scroll 0 0 transparent;
    color: white;
    padding-top:10px;
    border-radius: 0px 0px 15px 15px;
    margin:0px 2px 2px 2px;

}
#PlayerStats .bottom tr:hover td{
    background-color:black;
}

#PlayerInfoContainer{
    width:280px;
    float:left;
}

#AttributeStatsSelector{
    margin:5px 0;
    text-align:center;
}
#AttributeStatsSelector .hidden{
    display: none ;
}

.statsSelector{
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: gray;
    border: 1px solid #ABABAB;
    display: inline-block;
    font: bold 11px verdana,arial,sans-serif;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: black !important;
    margin-right:5px;
}
#PlayerStats .selected{
    background-color: #CCCCCC;
}
/** Admin styles **/
.admin table th,.admin table td{
    border: none;
}
.admin .viewRounds{
    background: url("../../bitmaps/list.png") no-repeat left center;
    padding: 0 30px 0 0;
    text-decoration: none;
}

.admin .removeMatch{
    background: url("../../bitmaps/minus.png") no-repeat left center;
    padding: 0 30px 0 0;
    text-decoration: none;
}
.admin .addMatch{
    background: url("../../bitmaps/plus.png") no-repeat left center;
    padding: 0 30px 0 0;
    text-decoration: none;
}


.admin .edit{
    background: url("../../bitmaps/edit.png") no-repeat left center;
    padding: 0 30px 0 0;
}


.admin .delete{
    background: url("../../bitmaps/delete.png") no-repeat left center;
    padding: 3px 30px 0 0;
    text-decoration:none;
}

.admin .matchstats{
    background: url("../../bitmaps/matchstats.png") no-repeat left center;
    padding: 3px 30px 0 0;
    text-decoration:none;
}
.playerstats td, .playerstats th{
    border: 1px solid #ccc;
}
.playerstats .newPlayer{
    background: url("../../bitmaps/redcross.png") no-repeat left center;
    padding: 3px 30px 0 0;

}

/** MyPage **/

#MyTeam{
    float:left;
    width: 600px;
}



#PlayerInfo{
    float:right;
    width: 284px;
    overflow: hidden;
    color: black;
    padding: 10px;
    margin-left:12px;
    padding:10px 0 10px 0;
    position: relative;
    z-index: 1;

}

#PlayerInfo a, #PlayerInfo a:visited{
    color: white;
}
#PlayerInfoWrapper{
    width:600px;
}

#PlayerSelector{
    float:left;
    width: 272px;
    overflow: hidden;
    -moz-border-radius:15px;
    border-radius: 15px;
    border: 2px solid gray;
    padding: 3px;

}
#PlayerSelector .topp{
    background: url("../../bitmaps/footballcard/greenbackground.png") repeat;
    min-height:54px;
    margin-bottom:3px;
    -moz-border-radius:15px 15px 0 0;
    border-radius:15px 15px 0 0;
    padding: 3px;
}
#PlayerSelector .bottom{
    background: url("../../bitmaps/footballcard/blackbackground.png") repeat;
    color: white;
    width:272px;
    -moz-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;

}

#PlayerSelector td{
    border: none;
    margin-bottom: 3px;
}
#PlayerSelector h3{
    border:none;
}

#PriceResult{
    color: #FFF;
    text-align:center;
}

#PlayerExtendedView{
    width:100%;
}
#PlayerPreView{
    position:absolute;
    top: 0px;
    left: 1px;
    z-index:2;
    background-color:white;
}

#PlayerView, #PlayerPreView{
    width:275px;
}
#PlayerView, #PlayerExtendedView, #PlayerPreView{
    float:left;
    -moz-border-radius:15px;
    border-radius: 15px;
    border: 2px solid gray;
    padding: 2px;

}
#PlayerView .topp img, #PlayerExtendedView .topp img, #PlayerPreView .topp img{
    float:left;
    position:relative;
    top: -26px;
    left: 5px;
}



#PlayerView .topp, #PlayerExtendedView .topp, #PlayerPreView .topp{
    background: url("../../bitmaps/footballcard/greenbackground.png") repeat;
    min-height:54px;
    margin-bottom:3px;
    -moz-border-radius:15px 15px 0 0;
    border-radius:15px 15px 0 0;
}
#PlayerView .bottom, #PlayerPreView .bottom{
    width: 274px;
}
#PlayerExtendedView .bottom{
    width: 100%;
}
#PlayerExtendedView td span{
    left: 0 !important;
}
#PlayerView .bottom , #PlayerExtendedView .bottom, #PlayerPreView .bottom{
    background: url("../../bitmaps/footballcard/blackbackground.png") repeat;
    color: white;

    -moz-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;

}
#PlayerView .bottom span, #PlayerExtendedView .bottom span, #PlayerPreView .bottom span{
    position:relative;
    left:30px;
}
#PlayerView .topp span, #PlayerExtendedView .topp span, #PlayerPreView .topp span{
    color: white;
    margin: -10px 0 0 5px;

}
#PlayerView h1, #PlayerExtendedView h1, #PlayerPreView h1{
    margin: 2px 0;
    text-align:right;
    border-bottom:none;
    color:white;
    font-size: 1.2em;
    width: 265px;
}
#PlayerExtendedView td, #PlayerExtendedView th{
    text-align:right;
}
#PlayerView td, #PlayerExtendedView td, #PlayerExtendedView th, #PlayerPreView td{
    border: none;

}
#PlayerView tr:first-child , #PlayerExtendedView tr:first-child, #PlayerPreView tr:first-child {
    border-top:none;
}
#PlayerView tr, #PlayerExtendedView tr, #PlayerPreView tr{
    border-top: white 2px solid;

}
#PlayerView span, #PlayerExtendedView span, #PlayerPreView span{
    color: yellow;
}
#PlayerView .playerinfo #PlayerExtendedView .playerinfo, #PlayerPreView .playerinfo{
    position:relative;
    top: -5px;
    left: 10px;
}
#PlayerView .price, #PlayerExtendedView .price, #PlayerPreView price{
    left: 137px;
    position: relative;
}

.viewPlayer{
    padding-left: 5px;
    padding-right: 5px;
    float:left;
    width: 100px;
}
.playerdelete{
    background: url("../../bitmaps/sell_player.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-right: 3px;
    margin-top: 3px;
    width: 16px;
    text-decoration:none;
}
.viewPlayer .top{
    background: url("../../bitmaps/player_top.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    text-align: right;
}
.viewPlayer .middle{
    background: url("../../bitmaps/player_fill.png") no-repeat scroll 0 0 transparent;

    text-align:center;
}
.viewPlayer .bottom{
    background: url("../../bitmaps/player_bottom.png") no-repeat scroll 0 0 transparent;
    height: 20px;
}
.viewPlayer a,.viewPlayer a:visited,.viewPlayer a:hover{
    color: #FFF;
    text-decoration:none;
}
.logowrapper{
    display: inline-block;
    float: left;
    height: 25px;
    width: 24px;
    margin-left:2px;
}

#Statistics{
    float:left;
    width: 600px;
    margin-top: 15px;
}

#TeamOverview span{
    float: left;
    width: 50%;
}

/***
Standard table
*****/

table.defaultTable, table#StandardTable,table#FormTable{
    width: 100%;
    font-size:1em;
}
.defaultTable thead, #StandardTable thead, #FormTable thead{
    background: url("../../bitmaps/bg-black-btn-r.gif") repeat-x scroll left center #CCCCCC;
    color:white;
}
.defaultTable thead th, #StandardTable thead th, #FormTable thead th{
    text-align:left;
    border-spacing:10px;
    background-color: transparent;
    font-size:1em;
    border-right: 1px solid gray;
}

.defaultTable th.empty{
    background-image: none !important;
}

.defaultTable tbody tr:hover td, #StandardTable tbody tr:hover td, #FormTable tbody tr:hover td{
    background-color: #E9F6FC;
}

.defaultTable td, #StandardTable td, #FormTable td{
    border-bottom: 1px solid #E9F6FC !important;
}
.defaultTable td img{
    margin-right: 10%;
    float: right;
}

.defaultTable td, .defaultTable th, #StandardTable td, #StandardTable th, #FormTable td, #FormTable th{
    border:none;
    text-align:left;
    line-height:26px;
}

.defaultTable .even{
    background-color: #E9F6FC;
}

.defaultTable .hometeam, .defaultTable .awayteam{
    padding-left: 30px;
    background-position:left center;
}

.defaultTable .center{
    text-align: center !important;
}
.topposition td{
    background-color:#78da61 !important;
}
.secondtopposition td{
    background-color:#ffff99 !important;
}
.secondbottomposition td{
    background-color:#ffff99 !important;
}
.bottomposition td{
    background-color:#eb6464 !important;
}

.positionUp, .positionDown{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 45px;
    float: right;
}
.positionUp{
    background: url("../../bitmaps/arrow_up.png") no-repeat left center ;

}
.positionDown{
    background: url("../../bitmaps/arrow_down.png") no-repeat left center ;


}

#NextRound thead th{
    padding-bottom:15px;

}

#LatestNews{
    float:right;
    width: 300px;
}
#Field {
    background: url("../../bitmaps/half_football_pitch.jpg") no-repeat left center;
    height: 304px;
    width: 600px;
}

#Field .player{
}

#Field .keepers{
    position:relative;
    top: 25px;
    left: 248px;
    width: 200px;
    display:inline-block;
}
#Field .defenders{
    position:relative;
    top: 50px;
    left: 24px;
    width: 600px;
    display:inline-block;
}
#Field .midfielders{
    position:relative;
    top: 60px;
    left: 24px;
    width: 600px;
    display:inline-block;
}
#Field .strikers{
    position:relative;
    top: 80px;
    left: 24px;
    width: 445px;
    display:inline-block;
}



#PlayerList .playerTableList{
    width: 75%;
}
#PlayerList .playerTableList tr:hover{
    background:url("../../bitmaps/footballcard/greenbackground.png") repeat scroll 0 0 transparent;
}
#PlayerList .playerTableList td{
    border: none;
}
#PlayerList a.playerselect{
    text-decoration: none;
    color: white;
}

#PlayerList .availablePlayer{
    text-align: center;
}
.viewchanger{
    left: 606px;
    position: absolute;
    top: 227px;
}
.viewchanger a{
    display: inline-block;
    height: 32px;
    width: 32px;
    text-decoration: none;
}


#ViewPlayerlist{
    background: url('../../bitmaps/list-icon.png') no-repeat;
}
#ViewField{
    background: url('../../bitmaps/field-icon.png') no-repeat;
}

.buyPlayer{
    background: url('../../bitmaps/plus.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
#OfficialTeamRoundList{
    width:600px;
    overflow:hidden;
}

.officialTeamRound{
    width:600px;
    float:left;
    overflow:hidden;
}

.officialTeamRound td span{
    height:25px;
    display:inline-block;
}
.NextOfficialTeam {
    float:right;
    margin-right:30px;
}
#tab-3 table td{
    border: none;
}
#tab-3 tr td:first-child span{
    padding-left: 25px;
}

/*****
Formation
*******/
.formation{
    font-size: 2em;
    left: 521px;
    position: absolute;
    top: 189px;
}

.dropup{
    background: url('../../bitmaps/fancybox/fancy_nav_up.png') no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    text-decoration: none;
}

.dropdown{
    background: url('../../bitmaps/fancybox/fancy_nav_down.png') no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    text-decoration: none;
}

.currentFormation{
    background: url('../../bitmaps/fancybox/fancy_title_left.png') no-repeat;
    color: white;
    font-size: 0.9em;

}
.currentFormation a{
    background: url('../../bitmaps/fancybox/fancy_title_main.png') repeat-x;
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.currentFormation span{
    background: url('../../bitmaps/fancybox/fancy_title_right.png') no-repeat;
}

.formationPicker{
    width:75px;
    background-color: white;
    position: absolute;
    z-index: 2;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    float: left;
    padding: 2px;

}
.formationPicker a{
    width: 100%;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    text-align: center;

}
.formationPicker .dropup{
    margin-left: 9px;
    position: absolute;
}

/*******
Slider
********/

#PriceSlider{
    width: 240px;
    margin: 10px;
}

#PriceSlider a{
    cursor: pointer;
}
#PriceSlider a.first{
    background: url("../../bitmaps/coin_single_gold.png") no-repeat left center;
    height: 24px;
    width: 28px;

}
#PriceSlider a{
    background: url("../../bitmaps/lots_of_coin.png") no-repeat left center;
    border: none;
    height: 24px;
    width: 24px;
}
#PriceSlider .ui-widget-header {
    background: black;
}
#FormSlider{
    width: 240px;
    margin: 10px;
}

#FormSlider a{
    cursor: pointer;
}
#FormSlider a{
    background: url("../../bitmaps/mainmenu/soccerball.png") no-repeat left center;
    height: 24px;
    width: 28px;
    border:none;

}
#FormSlider a:hover{
    border:none;

}

#FormSlider .ui-widget-header {
    background: black;
}
/*********
Tabs on mypage
**********/
#Statistics .team{
    display: block;
    min-height: 25px;
    padding-left: 26px;
}

/****************
Top section
*****************/
#Info{
    background-color:yellow;
    border: 1px solid orange;
    padding: 0 5px;
    display: none;
    text-align: center;
    width: 918px;
    position: absolute;
    top: 162px;
    left:30px;
}

.frontPage .info{
    background: url("../../bitmaps/top_backgroundpn.png") repeat-x;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    margin: -10px -10px 0px -10px;
    min-height: 70px;
    padding: 20px;


}

.info .infosection{
    float:left;
}

.infosection .heading{

    font-size:2em;
    margin-left:10px;
}
.infosection .heading a{
    text-decoration:none;
    color:#000;
}

.info .imagesection{
    float:right;
    margin-top: -14px;
}
.hidden{
    display: none !important;
}
#ChangeImage{
    display:none;
    float:left;
    cursor: pointer;
    top:15px;
    background: url("../../bitmaps/edit_icon.png") no-repeat right top;
    width:24px;
    height: 24px;
}
.info .profileimage:hover #ChangeImage{
    display:block;
}

.info .statssection{
    width: 200px;
    float: left;
    text-align: center;
}
.info .statssection div{
    font-weight: bold;

}
.countdowntimer{
    padding: 5px;
    border: #000000;
}
.countdowntimer .timer{
    background: url("../../bitmaps/time_bg.png") no-repeat left center;
    height: 55px;
    width: 90px;
    display: inline-block;
    float: left;
}

.countdowntimer .timer .number{
    color: silver;
    display: inline-block;
    font-size: 2em;
    padding-top: 11px;
    text-align: center;
    width: 100%;

}

.countdowntimer .timer .description{
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
    top : -5px;


}

#FantasyMatchView{
    font-size: 12px !important;
}

.dateflipper{
    background: url("../../bitmaps/date-flipper.png") no-repeat left center;
    height:66px;
    width:71px;
    float:left;
    color:white;
    margin-left:10px;

}
.dateflipper .subtext{
    font-size: 0.6em;
    left: 20px;
    position: relative;
    top: 27px;

}

.dateflipper .roundnumber{
    font-size: 1.8em;
    left: 18px;
    position: relative;
    top: 25px;
}
/*************
Club
*************/
.clublogo{
    display: block;
    height: 22px;
    padding-left: 28px;
}
.chelsea{
    background: url('../../bitmaps/clubs/chelsea.gif') no-repeat;
}
.manutd{
    background: url('../../bitmaps/clubs/manutd.gif') no-repeat;
}
.arsenal{
    background: url('../../bitmaps/clubs/arsenal.gif') no-repeat;
}
.mancity{
    background: url('../../bitmaps/clubs/mancity.gif') no-repeat;
}
.newcastle{
    background: url('../../bitmaps/clubs/newcastle.gif') no-repeat;
}
.bolton{
    background: url('../../bitmaps/clubs/bolton.gif') no-repeat;
}
.reading{
    background: url('../../bitmaps/clubs/reading.gif') no-repeat;
}
.southampton{
    background: url('../../bitmaps/clubs/southampton.gif') no-repeat;
}
.tottenham{
    background: url('../../bitmaps/clubs/tottenham.gif') no-repeat;
}
.sunderland{
    background: url('../../bitmaps/clubs/sunderland.gif') no-repeat;
}
.liverpool{
    background: url('../../bitmaps/clubs/liverpool.gif') no-repeat;
}
.astonvilla{
    background: url('../../bitmaps/clubs/astonvilla.gif') no-repeat;
}
.wba{
    background: url('../../bitmaps/clubs/wba.gif') no-repeat;
}
.everton{
    background: url('../../bitmaps/clubs/everton.gif') no-repeat;
}
.blackburn{
    background: url('../../bitmaps/clubs/blackburn.gif') no-repeat;
}
.blackpool{
    background: url('../../bitmaps/clubs/blackpool.gif') no-repeat;
}
.fulham{
    background: url('../../bitmaps/clubs/fulham.gif') no-repeat;
}
.stokecity{
    background: url('../../bitmaps/clubs/stoke.gif') no-repeat;
}
.birmingham{
    background: url('../../bitmaps/clubs/birmingham.gif') no-repeat;
}
.wiganathletic{
    background: url('../../bitmaps/clubs/wigan.gif') no-repeat;
}
.wolves{
    background: url('../../bitmaps/clubs/wolves.gif') no-repeat;
}
.westhamutd{
    background: url('../../bitmaps/clubs/westham.gif') no-repeat;
}
.norwichcity{
    background: url('../../bitmaps/clubs/norwich.gif') no-repeat;
}
.qpr{
    background: url('../../bitmaps/clubs/qpr.gif') no-repeat;
}
.swanseacity{
    background: url('../../bitmaps/clubs/swansea.gif') no-repeat;
}
.hull{
    background: url('../../bitmaps/clubs/hull.gif') no-repeat;
}
.crystalpalace{
    background: url('../../bitmaps/clubs/crystalpalace.gif') no-repeat;
}
.cardiff{
    background: url('../../bitmaps/clubs/cardiff.gif') no-repeat;
}
.burnley{
    background: url('../../bitmaps/clubs/burnley.gif') no-repeat;

}
.leicester{
    background: url('../../bitmaps/clubs/leicester.gif') no-repeat;

}

.bournemouth{
    background: url('../../bitmaps/clubs/bournemouth.png') no-repeat;

}

.watford{
    background: url('../../bitmaps/clubs/watford.gif') no-repeat;

}

.middlesbrough{
    background: url('../../bitmaps/clubs/middlesbrough.gif') no-repeat;

}
/*************
FantasyLeague
*************/

.matchTable .roundHeader, .fixturesTable .roundHeader{
    text-align:center;
    background: url("../../bitmaps/bg-black-btn-r.gif") repeat-x scroll left center #CCCCCC;
    color:white;
    padding-left:29px;
}
.matchTable .hometeam, .fixturesTable .hometeam{
    text-align:right;
}
.matchTable .matchSeparator, .fixturesTable .matchSeparator{
    width:2%;
}
.matchTable .team{
    width:45%;
}
.matchTable .result{
    width:4%
}
.fixturesTable .team{
    width:48%;
}
.matchselector{
    background: url("../../bitmaps/question_mark.png") no-repeat center center;
    display: inline-block;
    text-decoration: none;
    width: 16px;
    height: 16px;
}
#FantasyMatchView{
    background-color: white;
    position: absolute;
    z-index: 2;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    float: left;
    padding: 2px;
    width: 350px;
}
#FantasyMatchView .topp{
    background: url("../../bitmaps/footballcard/blackbackground.png") repeat;
    overflow: auto;
    margin-bottom:3px;
    -moz-border-radius:15px 15px 0 0;
    border-radius:15px 15px 0 0;
    color: #ffffff;
    padding: 3px;

}
#FantasyMatchView .topp div{
    float: left;
}
#FantasyMatchView .bottom{
    background: url("../../bitmaps/footballcard/greenbackground.png") repeat scroll 0 0 transparent;
    color: white;
    padding-top:10px;
    border-radius: 0px 0px 15px 15px;
    margin:0px 2px 2px 2px;
    display: inline-block;
    width: 98%;
    font-size: 1em;

}
#FantasyMatchView .bottom .team{
    width: 49%;
    height: 100%;
    float: left;
    font-size: 1em;
}

#FantasyMatchView .bottom .home{
    padding-right: 2px;
}
#FantasyMatchView .bottom .away{
    float: right;
}
#FantasyMatchView .bottom .player{
    font-size: 1em;
    margin-top: 5px;
    line-height: 24px;
    padding-left: 30px;
}
#FantasyMatchView td,#FantasyMatchView th{
    border: none;
    width:170px;
}

#FantasyMatchView .matchheader{
    text-align: center;
    width: 250px;
}
#FantasyMatchView .matchheader div{
    width: 100%;
}
#FantasyMatchView .fantasyteam{
    width: 45px;
    display: inline-block;
}



/*************
FantasyCompetition
*************/
#RoundUp{
    background: url('../../bitmaps/plus.png') no-repeat;

}
#RoundDown{
    background: url('../../bitmaps/minus.png') no-repeat;
}
#FantasyCompetitionTabs h3 a,#FantasyLeagueTabs h3 a{
    width:16px;
    height:16px;
    display:inline-block;
    margin-left:20px;
}
#FormTableWrapper .wait{
    margin-left: 400px;
}

/*************
Messages
*************/

#Messages{
    background: url("../../bitmaps/footballcard/greenbackground.png") repeat scroll 0 0 transparent;
    border: 1px solid gray;
    position:absolute;
    z-index:1;
    cursor: move;
    width:200px;
    color:white;
    top:80px;
    left:970px;
}
#MessagesWrapper, #Messages h1 {
    margin:5px;
}
.message .head{
    font-size:0.8em;
    color: wheat;
}
#Messages textarea{
    width:100%;
}
.message.new{
    background: url("../../bitmaps/footballcard/blackbackground.png") repeat scroll 0 0 transparent;
}

/*************
Teampage
*************/


.multipleinfosection{
    float: left;
    width:300px;
    border: 1px solid gray;
    border-radius: 15px 15px 15px 15px;
    background:url("../../bitmaps/footballcard/blackbackground.png") repeat scroll 0 0 transparent;
}
.multipleinfosection .header{
    text-align:center;
    background:url("../../bitmaps/footballcard/greenbackground.png") repeat scroll 0 0 transparent;
    display:block;
    padding:5px;
    color:white;

}
.multipleinfosection .content{
    display:block;
    padding:5px;
    color:wheat;
}
.multipleinfosection .center{
    text-align: center;
}
.multipleinfosection .edit{

    display:block;
}
.matchoverview{
    width:335px;
    float:right;
}

/*************
FantasyCup
*************/

.fantasyCup h5{
    border-bottom:none;
    text-align:center;
}
.cupMatch{
    padding-left: 5px;
    padding-right: 5px;
    float:left;
    width: 90px;
    color:white;
    margin-top:5px;
}
.cupMatch .top{
    background: url("../../bitmaps/match_top.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    text-align: center;

}
.cupMatch .top .matchselector{
    margin-top: 3px;
}
.cupMatch .middle{
    background: url("../../bitmaps/match_fill.png") repeat-y scroll 0 0 transparent;
    padding-top:3px;
    text-align:center;
}
.cupMatch .bottom{
    background: url("../../bitmaps/match_bottom.png") no-repeat scroll 0 0 transparent;
    height: 20px;
}
.cuproundwrapper{
    float:left;
    width: 110px;
}
#cup-1{
    display:inline-block;
}
/*************
FantasyTeam page
*************/

.teamStats .roundnumber, .teamStats .column,.teamStats .column .stats{
    float: left;
    width: 13px;
    margin-right:2px;
}
.teamStats{
    border:1px solid #000;
    width: 570px;
    background: url("../../bitmaps/teamstats.png") no-repeat left top;
    float: left;
    font-size: 0.7em;
    color:#FFFFFF;
}

.teamStats .columnwrapper{

    height:200px;
}
.teamStats .roundnumberwrapper{

    height:12px;
    padding-top: 5px;
}
.teamStats .column{
    float: left;
    height:200px;
    position:relative;
}
.teamStats .column .stats{
    background: url("../../bitmaps/teamstats_bar.png") repeat-x scroll left center;
    -moz-border-radius: 2px 2px 1px 1px;
    border-radius: 2px 2px 1px 1px;
    position:absolute;
    bottom: 0;
    text-align:center;


}
.teamStats .roundnumber{
    text-align:center;
}
.teamStats a{
    text-decoration:none;
}
.teamStats h2{
    background: url("../../bitmaps/bg-black-btn-r.gif") repeat-x scroll left center #CCCCCC;
    margin: 0;
    border-bottom: none;
    font-size: 1.2em;
    text-align: center;
}
.matchresults{

    height:20px;
}
.matchresults .matchresult{
    text-align:center;
    float: left;
    width: 13px;
    margin-right:2px;
}
.matchresults .victory{
    color: green;
}
.matchresults .draw{
    color: yellow;
}
.matchresults .loss{
    color: red;
}

.fantasyTeamListIcon{
    background: url("../../bitmaps/trekant.png") no-repeat scroll left center;
    display: inline-block;
    height: 20px;
    margin-left: 60px;
    width: 20px;
}

#FantasyTeamList{
    border: 1px solid #dfdfdf;
    padding: 2px;
    width: 250px;
    position: absolute;
    top: 133px;
    left: 54px ;
    background-color: #ffffff;
    z-index: 1;
    display: none;
}

#FantasyTeamList div{
    margin: 5px 0;
}
#FantasyTeamList a,#FantasyTeamList a:visited,#FantasyTeamList a:hover{
    text-decoration: none;
    color: #808080;
}

#FantasyTeamList a span{
    margin-left: 30px;
}

#FantasyTeamList h3{
    margin: 0;
}